/* vietnamese */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Maven Pro Regular'), local('MavenPro-Regular'), url(http://fonts.gstatic.com/s/mavenpro/v9/9aq-yTL3kcJXI9ucr03XRhJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Maven Pro Regular'), local('MavenPro-Regular'), url(http://fonts.gstatic.com/s/mavenpro/v9/yylnvFPTXAd6yQPV1EKDlRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Maven Pro Regular'), local('MavenPro-Regular'), url(http://fonts.gstatic.com/s/mavenpro/v9/MG9KbUZFchDs94Tbv9U-pVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    background-image: url("../images/bg.png");
    overflow-y: hidden;
}
#datas{
    background-color: white;
}
#teclado{
    background-color: white;
}

#login {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  margin-top: -100px;
  z-index: 1;
}

.image-connect {
  width: 200px;
  position: absolute;
  z-index: 0px;
  right: 0px;
}

.image-connect img {
  width: 100%;
}

.main-list {
  list-style: none;
}

.main-list li{
  margin-bottom: 5px;
}

.main-list li a {
  color: #fff;
}

.main-list li a:hover {
  cursor: pointer;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}
.btn-social.btn-lg>:first-child{
  line-height: 33px !important;
}
.link-people{
  margin-bottom: 5px;
  color: white;
  text-decoration: none;
  margin-left: 45px;
  text-transform: uppercase;
}
.link-people:hover{
  text-decoration: underline;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  border: none !important;
  padding: 3px !important;
}