<div class="image-connect">
  <img src="./images/connect.png">
</div>
<div class="row" id="login">
  <img src="./images/group.png">
  <br><br>
  <a class="btn btn-block btn-social btn-lg btn-google" g-login><span class="fa fa-google"></span>Login Google</a>
</div>
<div class="row" id="main">
<div class="col-md-offset-12"><button type="button" id="logout" ng-click='logout()' class="btn btn-danger">Sair</button></div>
  <div class="col-md-4">
     <img width="173" src="./images/group.png">
     <ul class="main-list">
        <li><a ng-click="change('rh')">RH</a></li>
        <li><a ng-click="change('pd')">P&D</a></li>
        <li><a ng-click="change('financeiro')">FINANCEIRO</a></li>
     </ul>
  </div>
  <div class="col-md-6 col-md-offset-3" style="position:fixed;overflow-y:scroll;overflow-x:hidden;height: 63%;border-top-left-radius: 30px;border-top-right-radius: 30px;" id="datas">
    <table class="table">
     <center><a href ng-if="data.length > limit" ng-click="more()" style="position:fixed;">Mostre mais...</a></center>  
      <tr ng-repeat="post in data | limitTo: limit">    
        <td ng-style="{'background-color': {{post.host}} == {{user}} ? '#F8F8FF': ''}">
         <p ng-bind-html="post.body|trustAsHtml"></p>
         <p class="blog-post-meta">{{ post.date }} por {{post.host}}</p>
       </td>
     </tr>
   </table>
   <div class="row">
     <div class="col-md-6" style="position: fixed;bottom:20px; padding: 5px;border-bottom-left-radius: 30px;border-bottom-right-radius: 30px;" id="teclado">
       <form>
         <div class="form-group">
          <trix-editor angular-trix ng-model="body" class="trix-content"></trix-editor>
        </div>
       <div class="form-group">
         <input type="hidden" id="dt" name="dt" ng-model="dt" class="form-control" disabled>
       </div>
       <center><button ng-click="addMessage()" type="button" class="btn btn-success">Enviar</button></center>
      </form>
     </div>
   </div>
</div>
</div>
